<div class="main-class">
    <!-- <form [formGroup]="uploadForm">
        <img [src]="imageFile" style="height: 10rem;width: 10rem;">
        <input type="file" name="filename" accept="image/*" formControlName="file" (change)="onImageChange($event)">
        <button (click)="onSubmit()">Upload</button>
    </form>
    <table>
        <tr>
            <th>Image</th>
        </tr>
        <tr>
            <td><img [src]="imageSrc" style="height: 10rem;width: 10rem;"></td>
            <td></td>
        </tr>
    </table> -->
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: center;">Id</th>
            <th style="display: flex;justify-content: center;align-items: flex-end;">Name 
                <input type="text" (keyup)="onKeyPressEvent($event)" placeholder="Search Name" 
                style="position: relative; margin-left: 5%; outline: none;">
            </th>
            <th style="text-align: center;">Email</th>
        </tr>
    </thead>
    <tbody *ngFor="let i of searchArray" >
        <tr>
            <td style="text-align: center;">{{i.id}}</td>
            <td style="text-align: center;">{{i.name}}</td>
            <td style="text-align: center;">{{i.email}}</td>
        </tr>
    </tbody>
    </table> 
</div>
</div>
