.main-class{
    position: absolute;
    height: auto;
    width: 100%;
    left: 0%;
    top: 0%;
}
.filter-main-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.filter-select-div{
    position: relative;
    margin-left: 10rem;
}
.filter-div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.main-mat-card{
    min-height: 10rem;
    margin-left: 10%;
    margin-bottom: 10%;
    transition: transform 300ms linear ;
    cursor: pointer;
}
.main-mat-card:hover{
    transform: scale(1.1);
}
.mat-content{
    text-align: center;
}
@media screen and (max-width: 426px) {
    .filter-div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .main-mat-card{
        margin-top: 2rem;
        width: 100%;
    }
}