.main-class{
    position: absolute;
    height: auto;
    width: 100%;
    left: 0%;
    top: 0%;
}
.main-class h1{
    text-align: center;
}
.vote-card-main-div{
    display: flex;
    justify-content: space-around;
}
.vote-card{
    margin-top: 5rem;
}
.mat-card-voter-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
}
.mat-card-message-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    color: red;
}
.mat-card-main-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
.mat-card-div{
    position: relative;
    min-height: 250px;
    max-height: auto;
    width: 30%;
}
.mat-card-image:first-child{
    margin-top: 0;
}
.mat-card-title{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
}
.mat-card-content-div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-card-img-div{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.mat-card-image{
    height: 100%;
    width: 100%;
}