.main-class{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-card{
    min-height: 17rem;
    max-height: auto;
    min-width: 25%;
    max-width: auto;
}
.mat-card-title{
    text-align: center;
}
.mat-card-subtitle{
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: space-between;
}