<div class="main-class">
    <div class="header-div">
        <h1>Angular Assignment.</h1>
    </div>
    <div class="mat-card-div">
        <mat-card>
            <mat-card-title>Quiz Aplication</mat-card-title>
            <button class="btn-lg" routerLink="/Quiz-App" routerLinkActive="active">Click to View</button>
        </mat-card>
        <mat-card>
            <mat-card-title>Polling Booth Aplication</mat-card-title>
            <button class="btn-lg" routerLink="/vote" routerLinkActive="active">Click to View</button>
        </mat-card>
        <mat-card>
            <mat-card-title>User Registration Form Aplication</mat-card-title>
            <button class="btn-lg" routerLink="/Home" routerLinkActive="active">Click to View</button>
        </mat-card>
        <mat-card>
            <mat-card-title>Filtering an Array</mat-card-title>
            <button class="btn-lg" routerLink="/Filter" routerLinkActive="active">Click to View</button>
        </mat-card>
        <mat-card>
            <mat-card-title>Search an Array by Name</mat-card-title>
            <button class="btn-lg" routerLink="/Search" routerLinkActive="active">Click to View</button>
        </mat-card>
    </div>
</div>
